.logo {
  float: left;
  width: 230px;
  height: 60px;
  background: url('~@/assets/logo.png') no-repeat center / 200px auto;
}
.content {
  padding: 0 50px;
}

.site-layout-content {
  height: 100%;
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

#components-layout-demo-top {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top {
  float: right;
  margin: 16px 0 16px 24px;
}

.user-info {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 50px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 800px) {
  .content {
    padding: 0 0;
  }
  .header {
    display: flex;
    height: 2.5rem;
    width: 100%;
    padding: 0 0;
    line-height: 2.5rem;
    .logo {
      flex: 6;
      transform: translateY(-20%);
      margin-left: 0.5rem;
      background: url('~@/assets/logo.png') no-repeat center / contain;
    }
    .menu {
      flex: 11;
      overflow: hidden;
    }
    .user-info {
      flex: 2;
      overflow: hidden;
      position: relative;
      padding-right: 0.1rem;
      color: #fff;
      cursor: pointer;
    }
  }
  .ant-menu-dark.ant-menu-horizontal > .ant-menu-item,
  .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
    padding: 0 0.5rem;
    font-size: 0.8rem;
  }

  .ant-layout-footer {
    padding: 0.5rem;
  }
}
