.home {
  width: 100%;
  height: 100%;
  align-items: center;
}

.site-layout-content {
  width: 100%;
  padding: 10px 30px;
}

.carouselImg {
  width: 100%;
}

.ant-carousel .slick-dots li button {
  height: 10px;
  background: rgb(0 0 0 / 85%);
  border-radius: 5px;
  opacity: 0.5;
}

.ant-carousel .slick-dots-bottom {
  bottom: 26px;
}

.container {
  display: flex;
  margin: 8px auto;
  .leftside {
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar-logo {
      margin-top: 1rem;
    }
    .name-tag {
      font-size: 1rem;
      font-weight: 700;
    }
    .skill-labels {
      margin-top: 10px auto;
      padding: 20px 20px;
      text-align: center;
    }
  }
  .rightside {
    flex: 70%;
    text-align: justify;
  }
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    .leftside {
      .avatar-logo {
        margin-top: 0.1rem;
      }
      .skill-labels {
        margin-top: 0.1rem auto;
        padding: 0.5rem 0.5rem;
        text-align: center;
      }
    }
    .rightside {
      margin-top: 1rem;
      text-align: justify;
    }
  }

  .site-layout-content {
    width: 100%;
    padding: 0.3rem 0.5rem;
  }
}
